.vscode
.env
.env.local
.env.production
*.env
launch.json
output
logs/
logs/*
./db _data/
backups/
backups/*
TODO.md
app/storage/
app/storage/*
app/lesoclego
*.log
*.tmp
*.temp
.DS_Store
Thumbs.db
node_modules/
*.key
*.pem
*.crt
*.p12
*.pfx
